* {
  margin: 0;
  padding: 0;
}

.tab_button_group {
  display: flex;
  align-items: center;
}
.tab_button_group .tab_button {
  background: #f1f1f1;
  font-size: 20px;
  border-radius: 0;
  border: 0;
  color: #222;
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  text-transform: capitalize;
}
.tab_button_group .tab_button:hover,
.tab_button_group .tab_button.active {
  background: #222;
  color: #fff;
}

.tab_content {
  background: #ddd;
  max-width: 600px;
}
.tab_content_box {
  display: none;
  padding: 20px 20px 40px 20px;
}
.tab_content_box.active {
  display: block;
}
h2 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
